<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        defaultHref="colaboracoes"
      ></ion-back-button>
    </ion-buttons>
    <h2 class="titulo">Detalhes da colaboracao</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
          </ion-avatar>
          <ion-label class="nome">Marco Túlio</ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <h1 class="cardTitulo"><strong>Título</strong></h1>
      <div class="descricao ion-margin">
        [DESCRICAO] Keep close to Nature's heart... and break clear away, once
        in awhile, and climb a mountain or spend a week in the woods. Wash your
        spirit clean.
      </div>

      <ion-item-divider></ion-item-divider>

      <h1 class="tituloEndereco"><strong>Endereço</strong></h1>

      <div class="endereco">
        <strong>Rua:</strong> Rua Prefeito Wilson Damião <br />
        <strong>Número:</strong> 364<br />
        <strong>Bairro:</strong> Centro<br />
        <strong>Complemento:</strong> <br />
        <strong>Cidade:</strong> Vermelho Novo<br />
      </div>

      <ion-item-divider></ion-item-divider>

      <p class="data">11/02/2021</p>

      <div class="estrelas">
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star-half" color="warning"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
