<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        defaultHref="colaboracoes"
      ></ion-back-button>
    </ion-buttons>
    <h2 class="titulo">Detalhes da colaboracao</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-1.png"
            />
          </ion-avatar>
          <ion-label class="nome">Fillipe</ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <h1 class="cardTitulo"><strong>Mesas na rua!</strong></h1>
      <div class="descricao ion-margin">
        Bar do meu bairro está deixando mesas na rua! 
      </div>

      <ion-item-divider></ion-item-divider>

      <h1 class="tituloEndereco"><strong>Endereço</strong></h1>

      <div class="endereco">
        <strong>Rua:</strong> Rua Honduras<br />
        <strong>Número:</strong> 364<br />
        <strong>Bairro:</strong> Ana Rita<br />
        <strong>Complemento:</strong> <br />
        <strong>Cidade:</strong> Tímoteo-MG<br />
      </div>

      <ion-item-divider></ion-item-divider>

      <p class="data">11/02/2021</p>

      <div class="estrelas">
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-icon name="star-half" color="warning"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
