<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        defaultHref="colaboracoes"
      ></ion-back-button>
    </ion-buttons>
    <h2 class="titulo">Detalhes da colaboracao</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-1.png"
            />
          </ion-avatar>
          <ion-label class="nome">Fillipe</ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-item-divider></ion-item-divider>

    <ion-card-content>
      <h1 class="cardTitulo"><strong>Mesas na rua!</strong></h1>
      <div class="descricao ion-margin">
        Bar do meu bairro está deixando mesas na rua! 
      </div>

      <ion-item-divider></ion-item-divider>

      <h1 class="tituloEndereco"><strong>Endereço</strong></h1>

      <div class="endereco">
        <strong>Rua:</strong> Rua Honduras<br />
        <strong>Número:</strong> 364<br />
        <strong>Bairro:</strong> Ana Rita<br />
        <strong>Complemento:</strong> <br />
        <strong>Cidade:</strong> Tímoteo-MG<br />
      </div>

      <ion-item-divider></ion-item-divider>

      <h1 class="tituloEndereco"><strong>Situação</strong></h1>

      <div class="endereco">
        <strong>01/01/2021 14:30 </strong>Em aberto<br />
        <strong>03/01/2021 16:32 </strong>Aberta ordem de serviço para fiscal<br />
        <strong>08/01/2021 20:00 </strong>Advertência realizada<br />
        <strong>15/01/2021 21:03 </strong>Visita de revisão<br />
        <strong>16/01/2021 13:33 </strong>Resolvido<br />
        <strong>Cidade:</strong> Tímoteo-MG<br />
      </div>

      <ion-item-divider></ion-item-divider>

      <h1 class="tituloEndereco"><strong>Avalie a resposta a essa colaboração:</strong></h1>

      <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        activeColor = "#488aff" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="0"
        fontSize = "32px"
        (ratingChanged)="avaliar(rating)">
    </ionic5-star-rating>

    </ion-card-content>
  </ion-card>
</ion-content>
