
<ion-header>
  <ion-toolbar class="toolbar-verde">
    <ion-buttons slot="start">
      <ion-back-button  color="secondary" defaultHref="cadastro-dadospessoais"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="logo" src="../../../assets/icon/logo2.png" alt="">
  <div class="fundo">
   <h1 class="titulo">Localização</h1>
    <div class="form">

      <ion-item class="ion-margin">
        <ion-label position="floating">Cidade</ion-label>
        <ion-input type="cidade"></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-label position="floating">Bairro</ion-label>
        <ion-input type="bairro"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" class="ion-margin" shape="round">Concluir</ion-button>
     
     
    </div>
  </div>

</ion-content>
