
<ion-header>
 
</ion-header>

<ion-content>

  <img class="logo" src="../../../assets/icon/logo2.png" alt="">

  <div class="fundo">
   <h1 class="titulo">Login</h1>
    <div class="form">
      <ion-item class="ion-margin">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" class="ion-margin">Entrar</ion-button>
     
     
    </div>
  </div>

</ion-content>
