<ion-header>
  <ion-toolbar>
    <h2 class="titulo">Suas Colaborações</h2>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="cards">
    <ion-card href="detalhe-colaboracao">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>Título</ion-label>
          </ion-item>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        [DESCRICAO] Keep close to Nature's heart... and break clear away, once
        in awhile, and climb a mountain or spend a week in the woods. Wash your
        spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>Título</ion-label>
          </ion-item>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        [DESCRICAO] Keep close to Nature's heart... and break clear away, once
        in awhile, and climb a mountain or spend a week in the woods. Wash your
        spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
            <ion-label>Título</ion-label>
          </ion-item>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        [DESCRICAO] Keep close to Nature's heart... and break clear away, once
        in awhile, and climb a mountain or spend a week in the woods. Wash your
        spirit clean.
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="cadastro-colaboracao">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
